.formulaireajout{
  display: inline-block;
  margin-left: 2%;
  margin-left: 12%;
}
input{
  border-color: #25612F;
}
select{
  border-color: #25612F;
}
label{
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
}
legend{
  margin-left: 50%;
  text-align: center;
  color: #25612F;

}
div button{
  margin-left:245%;
  background-color: #25612F;
}
