
<div class="container-fluid">
  <form action="">

  </form>

  <div class="row">
    <div class="col-8 col-md-4  col-sm-8 col-xl-4 formulaireajout">
      <form [formGroup]="formureirekilometrage" (ngSubmit)="savekilometrage()" >
        <fieldset >

          <legend>formulaire d ajout</legend>

          <div class="mb-3">
            <label for="disabledSelect" class="form-label">Vehicules</label>
            <select id="disabledSelect" class="form-select"formControlName="vehicules">
              <option   *ngFor="let v of vehicule | async" [ngValue]="v">{{v.matricule}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="disabledTextInputess" class="form-label">kilometrage</label>
            <input type="number" id="disabledTextInputess" class="form-control" formControlName="kilometrage" placeholder="km">
          </div>



          <div class="mb-3">
            <label for="disabledTextInputs" class="form-label">Date d enregistrement</label>
            <input type="date" id="disabledTextInputs" class="form-control" formControlName="dateEnregistrement" placeholder="Disabled input">
          </div>
          <div class="col-4"><button  type="submit" class="btn btn-success">Ajouter</button></div>



        </fieldset>
      </form>
    </div>
    <div class="col-8 col-md-4  col-sm-8 col-xl-4 ">
      <img src="../../assets/img/undraw.png" alt="" srcset="" height="73%" width="110%" style="margin-top: 21%">
    </div>
  </div>


</div>
