
<nav class="navbar fixed-top navbar-expand-md|sm topNavbar">
    <div class="col-sm-4">
        <img src="..\..\assets\img\logo.png" alt="logo" class="img-fluid"/>
        <a class="navbar-brand" href="/">
            <span class="logo logo-left">Kai</span>
            <span class="logo logo-right">Fleet</span>
        </a>

    </div>

  <div  class="col-sm-1">
    <a  *ngIf="!loginservice.isLoggedIn"mat-icon-button
        href="/login"
        aria-label="Example icon-button with heart icon">login
    </a>
    <a *ngIf="!loginservice.isLoggedIn" mat-icon-button
       aria-label="Example icon-button with heart icon">register

    </a>
    <div *ngIf="loginservice.isLoggedIn && user " style="color: white">
       {{user.username}}

      <button routerLink="/login" mat-button style="margin-left: 12%;color: white" (click)="logout()"*ngIf="isLoggedIn && user"
               mat-icon-button class="example-icon mr20 ml20"
         aria-label="Example icon-button with heart icon">logout


      </button>



    </div>

  </div>


</nav>
