<div class="container-fluid">

<div class="row">
  <form [formGroup]="formulaire" (ngSubmit)="SaveVehicule()" >

    <fieldset >
      <div class="col-8 col-md-4  col-sm-8 col-xl-4 formulaireajout">
        <legend>formulaire d ajout</legend>

        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Matricule</label>
          <input type="text" id="disabledTextInput" class="form-control" formControlName="matricule" placeholder="expl A33-BT-72">
          <div class="text-danger" *ngIf="formulaire.controls['matricule'].touched&&
         formulaire.controls['matricule'].errors&&formulaire.controls['matricule'].errors['require']">
            ce champs est requise
          </div>
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Numéro de châssis</label>
          <input type="text" id="disabledTextInpt" class="form-control" formControlName="numerochassie" placeholder="expl A33-BT-72">
          <div class="text-danger" *ngIf="formulaire.controls['numerochassie'].touched&&
         formulaire.controls['numerochassie'].errors&&formulaire.controls['numerochassie'].errors['require']">
            ce champs est reauise
          </div>
        </div>
        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Marque</label>
          <select id="disabledSelects" class="form-select"(change)="loadModele()" formControlName="marque">
            <option   *ngFor="let marque of recupermarque " value="{{marque.id}}">{{marque.libellet}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Modele</label>
          <select id="disabledSelect" class="form-select"formControlName="modele">
            <option   *ngFor="let modeles of modeles " [ngValue]="modeles">{{modeles.libellet}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Types</label>
          <select id="disabledSelectss" class="form-select"formControlName="typesvehicule">
            <option   *ngFor="let types of recuperrertypes"value="{{types.id}}">{{types.libellet}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Nombre place</label>
          <input type="number" id="disabledTextInputess" class="form-control" formControlName="nombrePlace" placeholder="expl 5" min="4" max="16">
        </div>

      </div>

        <div class="col-8 col-md-4  col-sm-8 col-xl-4 formulaireajout">
          <div class="mb-3">
            <label for="disabledSeles" class="form-label">Types de Carburant</label>
            <select id="disabledSeles" class="form-select" formControlName="typesCarburant">
              <option value="essence">essence</option>
              <option value="gasoil">gasoil</option>
              <option value="gaz">gaz</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="disabless" class="form-label">Etats</label>
            <select id="disabless" class="form-select" formControlName="etats">
              <option value="neuve">neuve</option>
              <option value="pasNeuve">Pas Neuve</option>
            </select>
          </div>

        <div class="mb-3">
          <label for="disabledSele" class="form-label">Status</label>
          <select id="disabledSele" class="form-select" formControlName="status">
            <option value="Actif">Actif</option>
            <option value="Innactif">Innactif</option>
            <option value="PAsEnBOnneETats">Pas en bonne etat</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="disabledTextInputs" class="form-label">Date Achat</label>
          <input type="date" id="disabledTextInputs" class="form-control" formControlName="dateAchat" placeholder="Disabled input">
        </div>
        <div class="mb-3">
          <label for="disabledTextInputes" class="form-label">Date Sotie</label>
          <input type="date" id="disabledTextInputes" class="form-control" formControlName="dateSOrtie" placeholder="Disabled input">
        </div>
        <div class="mb-3">
          <label for="disabledTextInpu" class="form-label">Date Mis en Marche</label>
          <input type="date" id="disabledTextInpu" class="form-control" formControlName="dateMisEnMarche" placeholder="Disabled input">
        </div>
      </div>
      <div class="col-4"><button [disabled]="formulaire.invalid" type="submit" class="btn btn-success">Ajouter</button></div>

    </fieldset>
  </form>
</div>
</div>

