
 <div class="container-fluid">

   <div class="row">
     <div class="col-8 col-md-4  col-sm-8 col-xl-4 formulaireajout">
     <mat-card>
     <form [formGroup]="formulairetupespanne" (ngSubmit)="savetypespanne()" >

       <fieldset >


           <legend>formulaire d ajout</legend>

           <div class="mb-3">
             <label for="disabledTextInput" class="form-label">types de panne</label>
             <input type="text" id="disabledTextInput" class="form-control" formControlName="libellet" placeholder="expl pneu">
             <div class="text-danger" *ngIf="formulairetupespanne.controls[''] &&
         formulairetupespanne.controls['libellet'].errors&&formulairetupespanne.controls['libellet'].errors['require']">
               ce champs est requise
             </div>
           </div>



         <div class="col-4"><button [disabled]="formulairetupespanne.invalid" type="submit" class="btn btn-success">Ajouter</button></div>

       </fieldset>
     </form>
     </mat-card>
     </div>
   </div>
 </div>


