<p>formulaire-cree-user works!</p>



  <form >

    <fieldset >
      <div class="row">
  <div class="col-8 col-md-4  col-sm-8 col-xl-4 formulaireajout">


        <legend>formulaire d ajout</legend>

        <div class="mb-3">
          <label for="disabledTextInputess" class="form-label">Nom</label>
          <input type="text" id="disabledTextInput" class="form-control" formControlName="Nom" >
        </div>
        <div class="mb-3">
          <label for="disabledTextInputess" class="form-label">prenom</label>
          <input type="text" id="disabledTextInputes" class="form-control" formControlName="prenom" >
        </div>
        <div class="mb-3">
          <label for="disabledTextInputess" class="form-label">username</label>
          <input type="text" id="disabledTextInpu" class="form-control" formControlName="username" >
        </div>






  </div>
  <div class="col-8 col-md-4  col-sm-8 col-xl-4 "style="margin-top: 4%">
    <div class="mb-3">
      <label for="disabledTextInputess" class="form-label">email</label>
      <input type="text" id="disabledTextInputess" class="form-control" formControlName="email" >
    </div>



    <div class="mb-3">
      <label for="disabledTextInputess" class="form-label">password</label>
      <input type="text" id="ledTextInputess" class="form-control" formControlName="password" >
    </div>
    <div class="mb-3">
      <label for="disabledTextInputess" class="form-label">telephone</label>
      <input type="text" id="abledTexInputess" class="form-control" formControlName="telephone" >
    </div>
    <div class="col-4"><button  type="submit" class="btn btn-success">Ajouter</button></div>
  </div>
      </div>
    </fieldset>
  </form>



