<div class="d-flex" style="margin-left: 5%">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 16rem;margin: 1%;">
    <div style="display:flex">
      <div style="text-align: center;margin:3%;margin-bottom:  %"><h2></h2>
        <div > <p style="text-align: center">voiture en pannes</p>
          <h1>{{nombretotalevheicule}}</h1>
        </div>
        </div>

    </div>
  </div>

  <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 16rem;margin: 1%;">
    <div style="display:flex">
      <div style="text-align: center;margin:3%;margin-bottom:  %"><h2></h2>
        <p>veicules</p></div>
      <div >voiture en pannes
        <p>{{nombrepanneresolue}}</p>
       </div>
    </div>
  </div>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 16rem;margin: 1%;">
    <div style="display:flex">
      <div style="text-align: center;margin:3%;"><h2></h2>
        <p>veicules</p></div>
      <div >voiture en route{{vehiculeForte}}
        </div>
    </div>
  </div>
<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 16rem;margin: 1%;">
  <div style="display:flex">
    <div style="text-align: center;margin:3%;">
      <p>veicules</p></div>
    <div>au garrage
      </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-3 me-3"><app-vehiculedashbord></app-vehiculedashbord></div>

  <div class="col-3 me-3  "><app-vehiculetatsedashbord></app-vehiculetatsedashbord></div>


</div>

