
<div class="container-fluid">

  <div class="row">
    <div class="col-8 col-md-4  col-sm-8 col-xl-4 formulaireajout">

      <form [formGroup]="formulaires" (ngSubmit)="saveJob()">
        <fieldset >

          <legend>affectationt</legend>

          <div class="mb-3">
            <label for="disabledSelect" class="form-label">types jop</label>
            <select id="disabledSelects" class="form-select" formControlName="typesJobDeMaintenance">
              <option *ngFor="let t of typesJop | async" [ngValue]="t"> {{t.libelle}}</option>
            </select>
          </div>


          <div class="mb-3">
            <label for="disabledSelect" class="form-label">Vehicules</label>
            <select id="disabledSelect" class="form-select"formControlName="vehicules">
              <option *ngFor="let v of Vehicule |async"[ngValue]="v" >{{v.matricule}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="disabledTextInputess" class="form-label">lieux</label>
            <input type="text" id="disabledTextInpues" class="form-control" formControlName="lieux" >
          </div>

          <div class="mb-3">
            <label for="disabledTextInputess" class="form-label">datedebut</label>
            <input type="date" id="disabledTextInputess" class="form-control" formControlName="dateDebut" >
          </div>


          <div class="mb-3">
            <label for="disabledTextInputs" class="form-label">dateResolution</label>
            <input type="date" id="disabledTextInputs" class="form-control" formControlName="dateResolution" placeholder="Disabled input">
          </div>
          <div class="mb-3">
            <label for="disabledTextInputess" class="form-label">description</label>
            <input type="text" id="disabledTetInpues" class="form-control" formControlName="description" >
          </div>
          <div class="col-4" ><button  type="submit" class="btn btn-success">Ajouter</button></div>




        </fieldset>
      </form>
    </div>
    <div class="col-8 col-md-4  col-sm-8 col-xl-4 ">
      <img src="../../assets/img/illustration-6.png" alt="" srcset="" height="100%" width="150%" style="margin-top: 1%">
    </div>
  </div>

</div>

